.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  box-sizing: border-box;
}
.login-form label {
  display: block;
  margin: 30px auto;
}
.login-form span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 945px) {
  .login-form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 20px auto;
  }
  .login-form label {
    display: block;
    margin: 10px 0;
  }
  .login-form button {
    margin-top: 30px;
  }
}
